/*
	background-color: rgba(12,45,63,0.1) */
p {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fde {
  background-color: #fde;
}

.fed {
  background-color: #fed;
}

::-moz-selection {
  background: #4BCEFF;
  color: #f6f6f6;
  fill: #f6f6f6;
}

::selection {
  background: #4BCEFF;
  color: #f6f6f6;
  fill: #f6f6f6;
}

::-moz-selection {
  background: #4BCEFF;
}

body {
  padding: 0;
  margin: 0;
  font-family: Source Sans Pro;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  background-color: #f6f6f6;
}

.cursor {
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: #4BCEFF;
  margin: -5px -5px;
  z-index: 1;
  border-radius: 50%;
  pointer-events: none;
  border-style: solid;
  border-color: #4BCEFF;
}

.scroll-down {
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
  cursor: pointer;
}

.headerContainer {
  position: relative;
  width: 100%;
  height: 100vh;
}

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 100%;
  width: 900px;
}

.leftColumn {
  height: 100%;
  width: 50%;
  float: left;
  position: relative;
}

.rightColumn {
  height: 100%;
  width: 50%;
  float: right;
  position: relative;
}

.pb {
  width: 70%;
  -webkit-box-shadow: 4px 4px 10px 0px #ddd;
          box-shadow: 4px 4px 10px 0px #ddd;
  background-color: #EEE;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
}

.heading {
  width: 80%;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

h1 {
  font-size: 33px;
  margin: 0;
  color: #777777;
}

.iama {
  font-size: 13px;
  letter-spacing: 4px;
  font-weight: 700;
  color: #BBB;
}

.typed-cursor {
  opacity: 0;
  display: none;
}

.type::after {
  content: "|";
  display: inline;
  -webkit-animation: blink 0.7s infinite;
          animation: blink 0.7s infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.headerArrow {
  height: 60px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0) rotate(90deg);
          transform: translate(-50%, 0) rotate(90deg);
  bottom: 80px;
  fill: #BBB;
  border-radius: 50%;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.headerArrow:hover {
  fill: #777777;
}

.mediaContainer {
  width: 100%;
  padding-top: 200px;
  position: relative;
}

.rowCols {
  width: 900px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.mediaCol {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mediaLogo {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 35px;
  color: #BBB;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.mediaLink {
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  color: #BBB;
  margin-bottom: 100px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.mediaTitle:hover .mediaLogo, .mediaTitle:hover .mediaLink {
  color: #777777;
}

.mediaCTA {
  margin-top: 60px;
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #BBB;
  margin-bottom: 100px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.mediaCTA:hover {
  color: #777777;
}

.mediaPost {
  width: 250px;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px 0px #ddd;
          box-shadow: 4px 4px 10px 0px #ddd;
  margin: 20px 0;
  position: relative;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.mediaCol:nth-child(2) .mediaPost {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.mediaCol:nth-child(3) .mediaPost {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.hidden {
  opacity: 0.5;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.fade-in-element {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

.mediaPostImg {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.mediaPostWrap {
  width: 100%;
  height: 40px;
  margin-top: -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mediaPostWrapLogo {
  color: #777777;
  font-size: 20px;
  margin: 0px 20px;
}

.mediaPostWrapBtn1 {
  color: #777777;
  font-size: 20px;
  margin: 0px 20px;
}

.mediaPostWrapBtn2 {
  color: #777777;
  font-size: 20px;
}

.mediaPostTitle {
  font-size: 12px;
  font-weight: 700;
  color: #777777;
  margin: 0px 20px;
  text-transform: uppercase;
}

.mediaPostWrapSpacer {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.abstract {
  width: calc(100% - 40px);
  margin: auto;
  padding-bottom: 10px;
}

.abstract p {
  font-size: 12px;
  font-weight: 400;
  color: #999;
  line-height: 1.4;
  word-spacing: 1.5px;
}

.display {
  display: block;
  max-height: 100px;
}

h3 {
  color: #777777;
  float: left;
  font-size: 10pt;
  top: 50%;
  margin: 0;
  position: relative;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.footer {
  width: 100%;
  height: 400px;
  position: relative;
}

.footerContainer {
  height: 120px;
  width: 900px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.someCol {
  height: 100%;
  float: left;
  width: 25%;
  margin: 0 4.16%;
  position: relative;
  border-right-style: solid;
  border-color: #EEE;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.someContainer {
  height: 80px;
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.some {
  display: inline-block;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 calc(100%/3);
          flex: 0 calc(100%/3);
}

.someIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #BBB;
  font-size: 25px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.someIcon:hover {
  color: #777777;
}

.emailCol {
  width: 57.2%;
  height: 100%;
  margin: 0 4.16%;
  float: left;
  position: relative;
}

.footerArrow {
  position: absolute;
  height: 40px;
  right: 16px;
  top: 2px;
  -webkit-transform: translate(-100%, 0) rotate(90deg) scaleY(-1);
          transform: translate(-100%, 0) rotate(90deg) scaleY(-1);
  fill: #BBB;
}

.footerTryme {
  z-index: -1;
  text-align: right;
  position: absolute;
  height: 60px;
  right: 0;
  top: 0px;
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #BBB;
}

.tryme-in {
  -webkit-animation: tryme-in 0.2s ease-in forwards;
          animation: tryme-in 0.2s ease-in forwards;
}

@-webkit-keyframes tryme-in {
  0% {
  }
  100% {
    -webkit-transform: translate(0, -30%);
            transform: translate(0, -30%);
    opacity: 0;
  }
}

@keyframes tryme-in {
  0% {
  }
  100% {
    -webkit-transform: translate(0, -30%);
            transform: translate(0, -30%);
    opacity: 0;
  }
}

.tryme-out {
  -webkit-animation: tryme-out 0.2s ease-out forwards;
          animation: tryme-out 0.2s ease-out forwards;
}

@-webkit-keyframes tryme-out {
  0% {
    -webkit-transform: translate(0, -30%);
            transform: translate(0, -30%);
    opacity: 0;
  }
  100% {
  }
}

@keyframes tryme-out {
  0% {
    -webkit-transform: translate(0, -30%);
            transform: translate(0, -30%);
    opacity: 0;
  }
  100% {
  }
}

#trymeLoad {
  opacity: 0;
}

.trymeLoad-in {
  -webkit-animation: trymeLoad-in 0.2s ease-in forwards;
          animation: trymeLoad-in 0.2s ease-in forwards;
}

@-webkit-keyframes trymeLoad-in {
  0% {
    -webkit-transform: translate(0, 30%);
            transform: translate(0, 30%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes trymeLoad-in {
  0% {
    -webkit-transform: translate(0, 30%);
            transform: translate(0, 30%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.trymeLoad-out {
  -webkit-animation: trymeLoad-out 0.2s ease-out forwards;
          animation: trymeLoad-out 0.2s ease-out forwards;
}

@-webkit-keyframes trymeLoad-out {
  0% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 30%);
            transform: translate(0, 30%);
    opacity: 0;
  }
}

@keyframes trymeLoad-out {
  0% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 30%);
            transform: translate(0, 30%);
    opacity: 0;
  }
}

#footerArrow {
  opacity: 0;
}

.footerArrow-in {
  -webkit-animation: footerArrow-in 0.2s ease-out forwards;
          animation: footerArrow-in 0.2s ease-out forwards;
}

@-webkit-keyframes footerArrow-in {
  0% {
    right: 0;
  }
  100% {
    right: 139px;
  }
}

@keyframes footerArrow-in {
  0% {
    right: 0;
  }
  100% {
    right: 139px;
  }
}

.footerArrow-out {
  -webkit-animation: footerArrow-out 0.2s ease-in forwards;
          animation: footerArrow-out 0.2s ease-in forwards;
}

@-webkit-keyframes footerArrow-out {
  0% {
    right: 125px;
  }
  100% {
    right: 0;
  }
}

@keyframes footerArrow-out {
  0% {
    right: 125px;
  }
  100% {
    right: 0;
  }
}

.footerEmail {
  cursor: pointer;
}

.footerEmail2 {
  height: 100%;
  width: 100%;
  font-weight: 700;
  letter-spacing: 3px;
  fill: #BBB;
}

.footerEmail2:hover {
  fill: #777777;
}

.new {
  margin: 0;
  position: absolute;
  font-size: 0px;
  letter-spacing: 4px;
  font-weight: 700;
  color: white;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.beacon:hover .new {
  opacity: 1;
  font-size: 10px;
}

.beacon {
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  width: 12px;
  height: 12px;
  right: 0;
  background: #4BCEFF;
  border-radius: 50%;
  position: absolute;
  -webkit-animation: pulse 3s ease-in-out infinite;
          animation: pulse 3s ease-in-out infinite;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.beacon:hover {
  width: 48px;
  height: 48px;
  -webkit-transform: translate(25%, -25%);
          transform: translate(25%, -25%);
}

@-webkit-keyframes pulse {
  0%, 70% {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(75, 206, 255, 0.5);
            box-shadow: 0px 0px 0px 0px rgba(75, 206, 255, 0.5);
  }
  100% {
    -webkit-box-shadow: 0px 0px 0px 70px rgba(75, 206, 255, 0);
            box-shadow: 0px 0px 0px 70px rgba(75, 206, 255, 0);
  }
}

@keyframes pulse {
  0%, 70% {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(75, 206, 255, 0.5);
            box-shadow: 0px 0px 0px 0px rgba(75, 206, 255, 0.5);
  }
  100% {
    -webkit-box-shadow: 0px 0px 0px 70px rgba(75, 206, 255, 0);
            box-shadow: 0px 0px 0px 70px rgba(75, 206, 255, 0);
  }
}

a {
  color: inherit;
  text-decoration: none;
}

@media only screen and (max-width: 900px) {
  .hide900 {
    display: none;
  }
  .headerContainer {
    margin-bottom: 50px;
  }
  .header {
    height: 100%;
    position: relative;
  }
  .headerArrow:hover {
    fill: #BBB;
  }
  .leftColumn {
    height: 45%;
    width: 100%;
    max-width: 400px;
    margin: auto;
    float: none;
  }
  .rightColumn {
    height: 55%;
    width: 100%;
    max-width: 400px;
    margin: auto;
    float: none;
  }
  .pb {
    width: 40%;
    position: absolute;
    top: auto;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .heading {
    width: 60%;
    top: 40px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  h1 {
    font-size: 31px;
    margin: 0;
    color: #777777;
  }
  .iama {
    font-size: 11px;
    letter-spacing: 4px;
    font-weight: 700;
    color: #BBB;
  }
  .mediaContainer {
    padding-top: 50px;
  }
  .mediaLink {
    margin-bottom: 60px;
  }
  .mediaCol {
    float: none;
    width: 90%;
    max-width: 400px;
    margin: auto;
    margin-bottom: 100px;
  }
  .mediaContainer {
    height: initial;
  }
  .mediaCTA {
    display: none;
  }
  .rowCols {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer {
    width: 100%;
    height: 160px;
    margin-bottom: 80px;
  }
  .footerContainer {
    height: 100%;
    width: 250px;
    position: relative;
  }
  .someCol {
    height: 50%;
    float: none;
    width: 100%;
    background: none;
    position: absolute;
    bottom: 0;
    border: none;
    margin: 0;
  }
  .someContainer {
    height: 80px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .some {
    display: inline-block;
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 calc(100%/6);
            flex: 0 calc(100%/6);
  }
  .someIcon {
    font-size: 28px;
  }
  .emailCol {
    width: 100%;
    height: initial;
    margin: 0;
    float: none;
    height: 50%;
  }
  .footerEmail2:hover {
    fill: #BBB;
  }
  .beacon {
    width: 48px;
    height: 48px;
    -webkit-transform: translate(25%, -25%);
            transform: translate(25%, -25%);
  }
  .new {
    opacity: 1;
    font-size: 10px;
  }
  .footerArrow {
    right: 16px;
    top: -8px;
  }
  .footerTryme {
    right: 0;
    top: -10px;
  }
}
/*# sourceMappingURL=index.css.map */