$button: #666
$list: #f3f3f3

body
    margin: 0
    padding: 0
    font-family: arial

.wrapper
    width: 90vw
    max-width: 600px
    position: relative
    left: 50%
    transform: translate(-50%,0)
    padding-top: 10vh
    padding-bottom: 10vh

.header
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    margin-bottom: 80px

svg
    height: 40px
    margin-left: 30px
    fill: #FF7269

h1
    color: $button
    display: inline-block

button
    background-color: $button
    display: inline-block
    border-radius: 40px
    font-size: 10pt
    border: none
    color: white
    text-decoration: none
    height: 40px
    padding: 0px 15px
    transition: 0.2s
    &:hover
        background-color: darken($button, 10%)
    &:focus
        outline: 0

.list
    display: flex
    align-items: center
    border-radius: 40px
    margin-bottom: 15px
    height: 40px
    position: relative
    background-color: $list
    &:nth-child(even)
        background-color: lighten($list, 1%)

p
    display: inline-block
    margin-left: 20px
    color: $button
    font-weight: bold

p:nth-child(2)
        color: $button
        
        font-size: smaller

a
    right: 0px
    position: absolute
    height: 100%
    min-width: 60px
